fastapi~=0.133.0
torch~=2.5.1+cu121
numpy~=2.2.6
pandas~=2.3.3
sympy~=1.13.1
torchinfo~=1.8.0
scikit-learn~=1.7.2
matplotlib~=3.10.8
kagglehub~=1.0.0
PyYAML~=6.0.3
joblib~=1.5.3
python-box~=7.4.1
ensure~=1.0.4
nltk~=3.9.3
optuna~=4.7.0
torchvision~=0.20.1+cu121
pillow~=12.0.0
SQLAlchemy~=2.0.47